# Compiler files
foundry/cache/
foundry/out/

# Ignores development broadcast logs
!/foundry/broadcast
/foundry/broadcast/*/31337/
/foundry/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
foundry/.env

# Backend runtime files
backend/.env
backend/data/
