PORT=3001
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
CHAIN_ID=11155111
TOKEN_ADDRESS=0x07B5A5ADaCedF233AADbe3f2862aac7ae21fBc0d
START_BLOCK=10420689
SYNC_INTERVAL_MS=15000
SYNC_BATCH_SIZE=2000
SQLITE_PATH=./data/mytoken-transfers.db
